/* Ion.RangeSlider, Simple Skin
// css version 1.8.5
// by Denis Ineshin | ionden.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */


.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 4px; top: 25px;
    background: #9c623a;
    border-radius: 4px;
}
    .irs-line-left {
        height: 6px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 6px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 6px;
        background-position: 100% -30px;
    }

.irs-diapason {
    height: 6px; top: 25px;
    background-position: 0 -60px;
}

.irs-slider {
    width: 10px; height: 22px;
    background: url('../img/slider-range.png') no-repeat;
    top: 21px;
}

.irs-min, .irs-max {
    color: #3e3122;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 3px;
}
.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #3654b0;
}

.irs-from, .irs-to, .irs-single {
    color: #3e3122;
    font-size: 14px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    position: absolute;
    top: 45px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #d8dff3;
}

.irs-grid-pol {
    background: #777;
}
.irs-grid-text {
    color: #e0e0e0;
}

.irs-disabled {
}