@media all and (max-width: 1460px) {
	header {
		#hfb {
			left: 100px;
		}
	}
}
@media all and (max-width: 1640px) {

	#wrapper {

		#content {

			#content-block-breadcrumbs.full-w {

				#breadcrumbs-wrapper {
					width: 1260px;
				}
			}
			.content-block-3{

				#cake-prev {
					width: 1260px;

					.cake-prev-block {
						margin-left: 25px;
						margin-right: 25px;
					}
				}
			}
			#content-block-popular, #content-block-products {

				#popular-wrapper, #products-wrapper {
					width: 1260px;

					.popular-block, .product-block {
						margin-left: 14px;
						margin-right: 18px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}