html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
html, body {
  height: 100%;
}
#wrapper{
  min-height: 100%;
  margin-bottom: -413px; 
}
#wrapper:after {
  content: "";
  display: block;
}
#wrapper:after {
  height: 413px; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: 'Flow';
	src: url('../fonts/Flow.otf');
}
@font-face {
	font-family: 'RupsterScriptFree';
	src: url('../fonts/RupsterScriptFree.otf');
}
html, body {
  height: 100%;
}
a {
	text-decoration: none;
}
body {
	font-family: 'Flow';
	color: #3e3122;
	font-size: 13px;
	min-width: 980px;
	-webkit-font-smoothing: subpixel-antialiased;
}
h1 {
	color: #684c2a;
	font-weight: lighter;
	font-size: 24px;
	text-align: center;
	font-family: 'RupsterScriptFree';
}
.clear {
	clear: both;
}
.center {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}
.divider-small {
	width: 70px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dashed #fff;
	margin-top: 15px;
	margin-bottom: 10px;
}
.line-divider {
	height: 1px;
	width: 100%;
	background: url('../img/line-divider.png') no-repeat center top;
}
.line-divider-2 {
	height: 7px;
	width: 100%;
	background: url('../img/line-divider-2.png') no-repeat center top;
}
.b {
	background: #fee8b9;
	font-family: 'Flow';
	font-size: 14px;
	text-align: center;
	padding: 8px 15px;
	border: 1px dashed #3e3122;
	color: #3e3122;
	border-radius: 3px;
	display: inline-block;

}
.b.level {
	font-size: 16px;
	background: #b28666;
	color: #fff;
}
.b.level-current {
	background: rgba(255, 255, 255, 0.70);
	font-size: 16px;
	color: #3e3122;
}
.b.level-passed {
	background: #ffefd0;
	color: #3e3122;
	font-size: 16px;
}
.b.center {
	margin-left: auto;
	margin-right: auto;
}
/**/
.modal.flower {
	position: fixed;
	display: none;
	z-index: 999;
	width: 620px;
	text-align: center;
	background: rgba(255,255,255,0.9);
	border-radius: 4px;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -245px;

	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 10px;
		height: 10px;
		background: url('../img/close.png') no-repeat center center;
	}
	.close:hover {
		cursor: pointer;
	}

	.modal-content {
		padding-bottom: 20px;

		img {
			width: 225px;
			height: 190px;
			margin-left: 20px;
			float: left;
			margin-right: 35px;
		}
		img:after {
			content: '';
			display: block;
			clear: both;
		}

		.desc {
			margin-top: 20px;
			text-align: left;

			.title {
				font-size: 18px;
				margin-bottom: 10px;
				color: #695237;
			}
			p {
				font-size: 14px;
				padding-right: 40px;
			}
		}
		table {
			width: 100%;
			text-align: center;
			margin-top: 15px;
			margin-bottom: 20px;

			thead {
				background: #e3a77f;

				td {
					width: 100px;
					font-size: 16px;
					padding-top: 10px;
					padding-bottom: 10px;
					color: #695237;
				}
			}
			tbody {
				tr {
					td {
						width: 100px;
						font-size: 16px;
						padding-top: 10px;
						padding-bottom: 10px;
						color: #3e3122;

						.counter {
							position: relative;
							top: -6px;

							* {
								display: inline-block;
								vertical-align: top;
								margin-right: -4px;
							}
							.sub, .add {
								position: relative;
								top: 5px;
							}
							input {
								padding: 1px;
								margin-left: 4px;
								margin-right: 4px;
								font-family: 'Flow';
								border: 1px dashed #3e3122;
								width: 40px;
								outline: none;
								text-align: center;
								border-radius: 4px;
								background: rgba(255,255,255,0.9);

							}
						}
					}
					td.c {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
				tr:nth-child(even) {
					background: #faf0db;
				}
			}
		}
	}
}
/**/
.modal.cakeform-comment {
	position: fixed;
	display: none;
	z-index: 999;
	width: 780px;
	text-align: center;
	background: rgba(255,255,255,0.9);
	border-radius: 4px;
	top: 50%;
	left: 50%;
	margin-left: -390px;
	margin-top: -245px;

	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 10px;
		height: 10px;
		background: url('../img/close.png') no-repeat center center;
	}
	.close:hover {
		cursor: pointer;
	}
	.modal-content {

		p {
			font-size: 18px;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		textarea {
			resize: none;
			width: 705px;
			height: 215px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 4px;
			background: #fff;
			border: 1px dashed #3e3122;
			font-family: 'Flow';
			font-size: 14px;
			color: #3e3122;
			padding-top: 10px;
			padding-left: 10px;
			outline: none;
		}
		textarea::-webkit-input-placeholder {
			color: #3e3122;
		}
		textarea:-moz-placeholder {
			color: #3e3122;
		}
		input[type=submit] {
			margin-top: 35px;
			margin-bottom: 20px;
		}
		input[type=submit]:hover {
			cursor: pointer;
		}
	}
}
/**/
.modal.calc {
	position: fixed;
	display: none;
	z-index: 999;
	width: 580px;
	text-align: center;
	background: rgba(245, 226, 214, 0.95);
	border-radius: 4px;
	top: 50%;
	left: 50%;
	margin-left: -290px;
	margin-top: -245px;

	.modal-content {
		text-align: center;
		padding-bottom: 55px;
		margin-top: 60px;
		width: 315px;
		margin-left: auto;
		margin-right: auto;

		p {
			font-size: 18px;
		}
		.price {
			font-size: 30px;
			margin-bottom: 50px;
		}
		a {
			color: #3e3122;
			font-size: 14px;
			margin-right: 20px;
		}
	}
}
/**/
#wrapper {

	header {
		position: relative;
		background: url('../img/bgh.jpg') no-repeat center top;
		min-height: 311px;

		#logo {
			position: absolute;
			display: block;
			width: 430px;
			height: 175px;
			top: 75px;
			left: 50%;
			margin-left: -215px;
			background: url('../img/logo.png') no-repeat center top;
		}

		#hfb {
			position: absolute;
			text-align: center;
			right: 20.3125%;
			top: 0;
			width: 200px;
			padding-top: 20px;
			height: 190px;
			background: url('../img/feedback.png') no-repeat center top;
			color: #fff;

			p {
				font-size: 14px;
				margin-bottom: 5px;
			}
			a {
				font-family: 'RupsterScriptFree';
				padding-top: 5px;
				display: block;
				width: 160px;
				margin-left: auto;
				margin-right: auto;
				height: 70px;
				color: #fff;
				font-size: 20px;
				background: url('../img/fbicon.png') no-repeat bottom center;
			}
		}
		#search {
			position: absolute;
			width: 620px;
			height: 46px;
			top: 245px;
			left: 50%;
			margin-left: -310px;

			label {
				font-size: 18px;
				color: #745930;
				font-family: 'RupsterScriptFree';
			}
			input[type=text] {
				margin-left: 5px;
				margin-right: 5px;
				padding-left: 15px;
				height: 33px;
				width: 515px;
				border: none;
				outline: none;
				font-size: 18px;
				color: #745930;
				font-family: 'Flow';
				background: url('../img/search.png') no-repeat center bottom;
				background-size: 525px 100%;
			}
			input[type=submit] {
				position: relative;
				top: 10px;
				width: 25px;
				height: 33px;
				border: none;
				background: url('../img/searchicon.png') no-repeat center center;
			}
			input[type=submit]:hover {
				cursor: pointer;
			}
		}
		#cart {
			position: fixed;
			z-index: 10;
			top: 60px;
			right: -200px;
			width: 290px;
			min-height: 100px;

			#cart-w {
				border-right: 4px;
				width: 100%;
				height: 100%;
				position: relative;

				.cart-order {
					position: absolute;
					text-align: center;
					color: #fff;
					width: 132px;
					height: 28px;
					background: url('../img/cartsprite.png') no-repeat top left;
					background-position: -137px 0;
					bottom: -28px;
					left: 50%;
					margin-left: -66px;
					display: block;

					img {
						margin-left: 5px;
						position: relative;
						top: 2px;
					}
				}
				.cart-order:hover {
					background: url('../img/cartsprite.png') no-repeat top left;
					background-position: 0 0;
				}

				#cart-l {
					position: absolute;
					z-index: 5;
					width: 80px;
					height: 75px;
					top: 10px;
					left: 8px;
					background: url('../img/cartlabel.png') no-repeat center center;
				}
				#cart-l:hover {
					cursor: pointer;
				}
				#cart-c {
					position: absolute;
					border-radius: 4px;
					z-index: 4;
					top: 0;
					right: 0;
					width: 205px;
					min-height: 90px;
					background: #9e6c4f;
					padding-top: 3px;
					padding-bottom: 3px;
					padding-left: 3px;

					#cart-inner {
						min-height: 90px;
						width: 195px;
						border-radius: 4px;
						border-top: 1px dashed #e9dfd9;
						border-bottom: 1px dashed #e9dfd9;
						border-left: 1px dashed #e9dfd9;
						padding-top: 15px;
						padding-bottom: 15px;
						padding-left: 10px;

						.cart-block {
							position: relative;
							width: 200px;
							height: 45px;
							margin-bottom: 10px;

							img, .cb-wrap, .close {
								display: inline-block;
								vertical-align: top;
								margin-right: -4px;
							}

							img {
								height: 45px;
								width: 45px;
								margin-right: 10px;
								border-radius: 4px;
							}
							.cb-wrap {
								width: 110px;
								position: absolute;
								top: 50%;
								margin-top: -15px;

								.title {
									font-size: 14px;
									color: #fff;

								}
								.title:hover {
									color: #e6dfd6;
								}
								p {
									font-size: 12px;
									color: #e6dfd6;
								}
							}
							.close {
								width: 10px;
								height: 45px;
								margin-left: 110px;
								background: url('../img/cart-close.png') no-repeat center center;
							}
							.close:hover {
								opacity: 0.7;
								cursor: pointer;
							}
						}
						.cart-block:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	#content {

		#menu-t {
			position: relative;
			background: url('../img/bgmenu.png') no-repeat top center;
			height: 50px;

			ul {
				width: 1260px;
				margin-left: auto;
				margin-right: auto;

				li {
					position: relative;
					margin-top: 20px;
					display: inline-block;
					margin-right: 15px;
				}
				li:last-child {
					margin-right: 0;
				}
				li:first-child {
					margin-left: 20px;
				}
				li a {
					font-size: 16px;
					color: #55442a;
					font-weight: bold;
				}
				li a:hover {
					color: #88531a;
				}
			}
			.menu-t-h {
				position: absolute;
				bottom: -39px;
				background: url('../img/menuhover.png') no-repeat center center;
				height: 40px;
			}
		}
		.content-block-1 {
			min-height: 115px;
			padding-top: 20px;
			background: url('../img/bg1.png') repeat-y center top;

			.line-divider {
				margin-bottom: 20px;
			}
		}
		.content-block-2 {
			position: relative;
			min-height: 377px;
			background: url('../img/bg2.png') repeat-y center top;

			#btn-step {
				width: 320px;
				position: absolute;
				top: -35px;
				left: 50%;
				margin-left: -160px;

				.bts {
					display: inline-block;
					vertical-align: bottom;
					margin-right: 2px;
					margin-left: 2px;
					width: 100px;
					background: url('../img/stepsprite.png') no-repeat;
				}
				.bts1, .bts2, .bts3 {
					height: 36px;
				}
				.bts1h, .bts2h, .bts3h {
					height: 62px;
				}
				.bts1 {background-position: 0 0;}
				.bts2 {background-position: -210px 0;}
				.bts3 {background-position: -420px 0;}
				.bts1h {background-position: -105px 0;}
				.bts2h {background-position: -315px 0;}
				.bts3h {background-position: -525px 0;}
			}
			/**/
			#calc-step1 {
				width: 550px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 60px;
				margin-bottom: 30px;

				.help {
					margin-left: 15px;
					position: relative;
					top: 12px;
					font-size: 16px;
					vertical-align: top;
					margin-right: 5px;
				}
				.dropdown {
					display: inline-block;
				}
				.help-center {
					margin-top: 40px;
					text-align: center;
					font-size: 16px;
				}
				.price {
					margin-top: 30px;
					margin-bottom: 10px;
					width: 190px;
					text-align: center;
					margin-left: auto;
					margin-right: auto;

					span {
						font-size: 24px;
					}
					p {
						font-size: 14px;
					}
				}
				.b-w {
					width: 550px;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					margin-top: 50px;
				}
			}
			/**/
			#calc-step2 {
				width: 1220px;
				margin-left: auto;
				margin-right: auto;

				#levels {
					margin-top: 60px;

					.b {
						margin-right: 5px;
					}
				}
				#leftblock, #rightblock {
					margin-top: 40px;
					display: inline-block;
					vertical-align: top;
					margin-right: -4px;
				}
				#leftblock {
					width: 260px;

					.b.level-current {
						font-size: 16px;
						background: #b28666;
						color: #fff;
					}
					.b.level {
						background: rgba(255, 255, 255, 0.70);
						font-size: 16px;
						color: #3e3122;
					}
					.b {
						display: block;
						width: 220px;
						padding: 10px 5px;
						margin-bottom: 10px;
					}
					#req {
						margin-bottom: 30px;
					}
				}
				#rightblock {
					width: 960px;
					margin-bottom: 40px;
					text-align: center;

					h2 {
						font-size: 20px;
						font-family: 'Flow';
						margin-bottom: 15px;
						text-align: left;
					}
					#elem-w {
						margin-bottom: 40px;
					}
					.elem-row {
						margin-bottom: 20px;

						.elem-block {
							position: relative;
							text-align: center;
							display: inline-block;
							vertical-align: top;
							border-radius: 4px;
							margin-right: 16px;
							width: 225px;
							height: 205px;
							background: rgba(254, 232, 185, 0.5);

							img {
								width: 225px;
								height: 150px;
								border-radius: 4px;
								margin-bottom: 10px;
							}
							.elem-desc {
								display: none;
								position: absolute;
								top: 0;
								left: 0;
								width: 225px;
								height: 150px;
								background: rgba(255,255,255,0.80);
								text-align: center;

								.title {
									color: #695237;
									font-size: 18px;
									margin-bottom: 5px;
								}
								.desc {
									font-size: 14px;
								}
							}
							.elem-desc.show {
								display: block;
							}
							.price-one {
								font-size: 15px;
								color: #885e5e;
								
								span {
									color: #a29087;
								}
							}
							b {
								font-size: 14px;
							}
							.radio {
								width: 16px;
								height: 16px;
								margin-left: auto;
								margin-right: auto;
								background: url('../img/btr.png') no-repeat center center;
							}
							.radio.checked {
								background: url('../img/btrc.png') no-repeat center center;
							}
							input[type=radio] {
								display: none;
							}
							.checkbox {
								width: 16px;
								height: 16px;
								margin-left: auto;
								margin-right: auto;
								background: url('../img/btcb.png') no-repeat center center;
							}
							.checkbox.checked {
								background: url('../img/btcbc.png') no-repeat center center;
							}
							input[type=checkbox] {
								display: none;
							}
						}
						.elem-block-upload {
							position: relative;
							text-align: center;
							display: inline-block;
							vertical-align: top;
							border-radius: 4px;
							margin-right: -4px;
							width: 225px;
							height: 205px;
							background: none;

							.form-upload {
								display: block;
								width: 225px;
								height: 145px;
								background: url('../img/form-upload.png') no-repeat;
							}
							.add-comment {
								margin-top: 10px;
								width: 225px;
								height: 50px;
								background: url('../img/addcomment.png') no-repeat;
							}
							.add-comment:hover {
								cursor: pointer;
							}
						}
						.elem-block:last-child {
							margin-right: -4px;
						}
					}
				}
			}
			#calc-step3 {
				width: 1220px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;

				#price {
					margin-top: 60px;
					width: 320px;
					padding-top: 20px;
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					height: 65px;
					background: rgba(255, 255, 255, 0.7);

					p {
						font-size: 18px;
					}
					.price {
						margin-bottom: 15px;
						font-size: 30px;
					}
				}

				input[type=text] {
						position: relative;
						top: 2px;
						width: 705px;
						padding: 5px 0 5px 15px;
						height: 25px;
						margin-right: 10px;
					}
					input[type=text], textarea {
						font-family: 'Flow';
						font-size: 14px;
						background: rgba(255,255,255,0.8);
						border: 1px dashed #3e3122;
						border-radius: 4px;
						outline: none;
					}
					input {
						display: inline-block;
						vertical-align: top;
						margin-right: -4px;	
					}

				#individual {
					margin-top: 40px;

					p {
						font-size: 18px;
						margin-bottom: 30px;
					}
					p.label {
						font-size: 14px;
						position: absolute;
						margin-top: 5px;
						left: 1215px;
					}
				}
				#wishes {
					position: relative;
					margin-top: 50px;
					padding-bottom: 55px;

					p {
						font-size: 18px;
						margin-bottom: 20px;
					}
					textarea {
						width: 705px;
						height: 215px;
						padding-top: 10px;
						padding-left: 10px;
					}
					textarea::-webkit-input-placeholder {
						color: #3e3122;
					}
					textarea:-moz-placeholder {
						color: #3e3122;
					}
					input[type=submit] {
						margin-top: 35px;
					}
					input[type=submit]:hover {
						cursor: pointer;
					}
					.b {
						display: block;
						margin-left: auto;
						margin-right: auto;
					}
					.back {
						position: absolute;
						font-size: 14px;
						color: #3e3122;
						bottom: 65px;
						left: 400px;
					}
					.back:hover {
						color: #ac9b82;
					}
				}
				.errors {
					position: absolute;
					left: 1100px;
					bottom: 10px;
					text-align: left;
					padding: 25px 10px 10px 30px;
					width: 500px;
					border-radius: 5px;
					background: rgba(187, 158, 139, 0.7);

					.close {
						position: absolute;
						right: 10px;
						top: 5px;
						height: 18px;
						width: 18px;
						background: url('../img/close.png') no-repeat center center;
					}
					.close:hover {
						opacity: 0.7;
						cursor: pointer;
					}

					p {
						margin-bottom: 5px;
						font-size: 14px;
					}
					.title {
						color: #fff;
					}
					.error {
						color: #fdefd4;
					}
				}
			}
			#calc-order {
				margin-top: 60px;
				padding-bottom: 50px;
				text-align: center;
				width: 1220px;
				margin-left: auto;
				margin-right: auto;

				p {
					font-size: 18px;
				}
				form {
					margin-top: 25px;

					input[type=email], .fio, .phone, .addr {
						padding: 8px;
						font-size: 14px;
						color: #3e3122;
						background: rgba(255,255,255,0.8);
						border: 1px dashed #3e3122;
						border-radius: 4px;
						font-family: 'Flow';
						outline: none;
						width: 350px;
					}
					input[type=text] + p, input[type=email] + p {
						margin-bottom: 60px;
						font-size: 12px;
						color: #8d6f4d;
						position: relative;
					}
					input[type=email] + p {
						left: -10px;
					}
					.phone {
						margin-left: -15px;
					}
					.phone  + p {
						left: -60px;
					}
					.addr {
						margin-left: -55px;
					}
					input.addr  + p {
						left: -65px;
						margin-bottom: 30px;
					}
					.fio {
						margin-left: 10px;
					}
					.fio  + p {
						left: -80px;
					}
					label {
						position: relative;
						font-size: 14px;
						top: -30px;
						left: 45px;
					}
					input.fio + p {
						margin-bottom: 30px;
					}
					#delivery {
						width: 530px;
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 40px;

						p {
							text-align: left;
							font-size: 14px;
							margin-bottom: 5px;
						}
						p:first-child {
							margin-left: 110px;
						}
						.r-w {
							width: 425px;
							margin-left: 110px;

							input[type=radio] {
								display: none;
								text-align: left;

							}
							.radio {
								float: left;
								width: 14px;
								height: 14px;
								margin-top: -1px;
								margin-right: 5px;
								background: url('../img/btr.png') no-repeat;
								background-size: 100% 100%;
							}
							.radio.checked {
								background: url('../img/btrc.png') no-repeat;
								background-size: 100% 100%;
							}
							input[type=radio] + p {
								float: left;
							}
							.radio:after {
								content: '';
								display: block;
								clear: both;
							}
							input[type=radio] + p:after {
								content: '';
								display: block;
								clear: both;
							}
						}
					}
				}
			}
		}
		.content-block-3 {
			position: relative;
			background: url('../img/bg3.png') no-repeat center top;
			padding-top: 20px;
			padding-bottom: 20px;

			#cake-prev {
				margin-top: 35px;
				margin-bottom: 35px;
				width: 1600px;
				margin-left: auto;
				margin-right: auto;

				.cake-prev-block {
					width: 370px;
					height: 175px;
					position: relative;
					float: left;;
					margin-top: 15px;
					margin-bottom: 15px;
					margin-left: 15px;
					margin-right: 15px;

					img {
						width: 368px;
						height: 175px;
					}

					.cake-h {
						position: absolute;
						left: 0;
						top: 0;
						width: 368px;
						height: 175px;
						background: url('../img/prev-bottom.png') no-repeat center center;

						p:first-child {
							font-size: 18px;
							font-family: 'Minion Pro';
							color: #fff;
							position: absolute;
							left: 50%;
							margin-left: -10px;
							top: 45px;
						}
						p:last-child {
							font-family: 'RupsterScriptFree';
							font-size: 18px;
							color: #fff;
							position: absolute;
							left: 50%;
							top: 90px;
							margin-left: -10px;
						}
					}
				}
				.cake-prev-block:last-child {
					margin-right: 0;
				}
			}
		}
		#content-block-slider {
			min-height: 415px;
			background: url('../img/bg4.png') no-repeat center top;
			background-size: 100% 100%;

			.block-inner {
				padding-left: 15px;
				padding-right: 15px;
				width: 1230px;
				margin-left: auto;
				margin-right: auto;
				padding-top: 20px;
				padding-bottom: 20px;

				#left, #right {
					display: inline-block;
					vertical-align: top;
					margin-right: -4px;
				}
				#left {
					width: 370px;
					margin-right: 11px;

					#cake-constructor {
						text-align: center;
						display: block;
						width: 370px;
						height: 185px;
						background: url('../img/bgconstr.png') no-repeat;

						.title {
							position: relative;
							top: 40%;
							text-align: center;
							font-family: 'RupsterScriptFree';
							font-size: 30px;
							color: #61371a;
						}

						.text {
							position: relative;
							top: 50%;
							display: inline-block;
							font-size: 14px;
							color: #79563a;
							padding: 5px 10px;
							background: url('../img/bgconstrb.png') no-repeat;
							-webkit-background-size: 100% 100%;
							background-size: 100% 100%;
						}
					}
					.cake-prev-block {
						width: 370px;
						height: 175px;
						position: relative;
						display: inline-block;
						vertical-align: middle;
						margin-top: 10px;

						img {
							width: 370px;
							height: 175px;
						}

						.cake-h {
							position: absolute;
							left: 0;
							top: 0;
							width: 370px;
							height: 175px;
							background: url('../img/prev-bottom.png') no-repeat center center;

							p:first-child {
								font-size: 18px;
								font-family: 'Minion Pro';
								color: #fff;
								position: absolute;
								left: 50%;
								margin-left: -10px;
								top: 45px;
							}
							p:last-child {
								font-family: 'RupsterScriptFree';
								font-size: 18px;
								color: #fff;
								position: absolute;
								left: 50%;
								top: 90px;
								margin-left: -10px;
							}
						}
					}
				}
				#right {
					width: 840px;

					#slider {
						position: relative;
						width: 840px;
						height: 370px;
						background: rgba(255, 255, 255, 0.2);
						border-radius: 5px;

						.slide {

							img {
								width: 840px;
								height: 370px;
							}

							.slide-wrapper {
								position: relative;
								width: 100%;
								height: 100%;

								.slide-block {
									position: absolute;
									text-align: left;
									top: 20px;
									left: 15px;
									width: 400px;
									height: 200px;
									border-radius: 5px;
									background: rgba(255, 255, 255, 0.7);
									padding: 35px 25px 25px 15px;
									color: #60432b;

									h1 {
										text-align: left;
										color: #60432b;
										font-size: 30px;
									}
									.title {
										font-size: 30px;
									}
									.desc {
										margin-top: 15px;
										margin-bottom: 10px;
										height: 80px;

										p {
											font-size: 18px;
										}
									}
									.more {
										font-size: 16px;
										font-family: 'RupsterScriptFree';
										color: #9a4e1b;
									}
									.more:hover {
										color: #60432b;
									}
								}
							}
						}
						#slider-nav {
							position: absolute;
							bottom: 5px;
							right: 20px;

							.link {
								display: inline-block;
								vertical-align: top;
								margin-right: 6px;
								width: 25px;
								height: 7px;
								border-radius: 5px;
								background: rgba(255,255,255,0.3);
								text-indent: -9999px;
							}
							.link:last-child {
								margin-right: 0;
							}
							.link.active {
								background: rgba(255,255,255,0.5);
							}
						}
					}
				}
			}
		}
		#content-block-popular {
	background: url('../img/bgpop.png') repeat-y center top;
	padding: 20px 0 20px 0;

	#popular-wrapper {
		width: 1600px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 45px;
		padding-bottom: 20px;

		h1 {
			margin-bottom: 40px;
		}
		.popular-block {
			position: relative;
			width: 280px;
			height: 160px;
			float: left;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 20px;
			border-radius: 5px;

			img {
				width: 280px;
				height: 160px;
			}
			.layout {
				position: absolute;
				top: 0;
				left: 0;
				width: 280px;
				height: 65px;
				background: url('../img/popuplayout.png') no-repeat left top;
			}
			.title {
				color: #695237;
				font-family: 'Flow';
				font-size: 18px;
				margin-left: 5px;
				margin-top: 10px;	
			}
			.info {
				font-family: 'Flow';
				margin-left: 5px;
				font-size: 12px;
				color: #885e5e;
				span {
					color: #a29087;
				}
			}
			.content {
				position: absolute;
				display: none;
				left: 0;
				top: 0;
				width: 280px;
				height: 160px;
				background: rgba(255, 255, 255, 0.9);

				.desc {
					margin-top: 10px;

					.comp {

						color: #695237;
						font-family: 'Flow';
						font-size: 16px;
						margin-left: 5px;
					}
					.c {
						color: #4f483d;
						font-family: 'Flow';
						font-size: 14px;
						margin-left: 5px;
						height: 55px;
						margin-bottom: 5px;
					}
					a {
						color: #2297bd;
						font-size: 14px;
						font-family: 'Flow';
						margin-left: 5px;
					}
					a:hover {
						color: #695237;
					}
				}
			}
		}
	}
}
.content-block-types {
	background: url('../img/bgcakes1.png') repeat-y top center;

	.types-wrapper {
		text-align: center;
		width: 1260px;
		margin-left: auto;
		margin-right: auto;

		h1 {
			font-size: 24px;
			text-align: center;
			color: #684c2a;
			font-family: 'RupsterScriptFree';
			margin-bottom: 30px;
			padding-top: 65px;
		}
		
		.types-block {
			margin-bottom: 10px;
			margin-bottom: 10px;
			text-align: left;

			.left {
				float: left;
				width: 838px;
				height: 163px;
				padding: 10px 5px;
				border: 1px dashed #4f483d;
				border-radius: 5px;

				img {
					float: left;
					width: 210px;
					height: 160px;
					margin-right: 15px;
				}
				.desc {
					padding-top: 5px;
					padding-bottom: 5px;

					.title {
						color: #856440;
						font-size: 20px;
						font-family: 'Flow';
					}
					.c {
						margin-top: 10px;
						margin-bottom: 10px;
						height: 90px;

						p {
							color: #4a432e;
							font-size: 14px;
							font-family: 'Flow';
							line-height: 18px;
							width: 95%;
						}
					}
					a {
						font-size: 16px;
						color: #a48a60;
						font-family: 'RupsterScriptFree';
					}
					a:hover {
						color: #856440;
					}
				}		
			}
			.right {
				float: right;
				border-radius: 5px;
				padding: 2px;
				width: 384px;
				height: 178px;
				border: 1px dashed #4f483d;

				.cake-prev-block {
					width: 384px;
					height: 178px;
					position: relative;
					display: inline-block;
					vertical-align: middle;
					img {
						width: 384px;
						height: 178px;
					}
					.cake-h {
						position: absolute;
						left: 0;
						top: 0;
						width: 384px;
						height: 178px;
						background: url('../img/prev-bottom.png') no-repeat center center;

						p:first-child {
							font-size: 18px;
							font-family: 'Minion Pro';
							color: #fff;
							position: absolute;
							left: 50%;
							margin-left: -10px;
							top: 45px;
						}
						p:last-child {
							font-family: 'RupsterScriptFree';
							font-size: 18px;
							color: #fff;
							position: absolute;
							left: 50%;
							top: 90px;
							margin-left: -10px;
						}
					}
				}
			}
		}
	}
	.b-w {
		text-align: center;
		display: inline-block;
		padding: 6px 15px;
		font-size: 14px;
		color: #3e3122;
		font-family: 'Flow';
		border-radius: 5px;
		background: #fff;
		border: 1px dashed #3e3122;
		margin-top: 10px;
		margin-bottom: 40px;
	}
}
.content-block-types.white {
	background: url('../img/bgcakes2.png') repeat-y center top;
}
#content-block-aboutus {
	padding-top: 20px;
	padding-bottom: 20px;
	background: url('../img/bgcakes2.png') repeat-y top center;

	#aboutus-wrapper {
		width: 1260px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 50px;
		padding-bottom: 30px;

		h1 {
			font-size: 24px;
			text-align: center;
			color: #684c2a;
			font-family: 'RupsterScriptFree';
			margin-bottom: 25px;
		}
		.desc {

			p {
				line-height: 24px;
				color: #4a432e;
				font-size: 14px;
				font-family: 'Flow';
				text-align: left;
			}
		}
	}
}
.content-block-3 + #content-block-aboutus {

	#aboutus-wrapper {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
#content-block-breadcrumbs {
	padding-top: 10px;
	padding-bottom: 25px;
	background: url('../img/bgcakes2.png') repeat-y top center;

	#breadcrumbs-wrapper {
		width: 1260px;
		margin-left: auto;
		margin-right: auto;

		ul {
			margin-left: 10px;

			li {
				display: inline-block;
				vertical-align: top;
				margin-right: 6px;
			}
			li a {
				color: #67493e;
				font-size: 13px;
				font-family: 'Flow';
			}
			li a:hover {
				color: #4a432e;
			}
			li:after {
				content: '»';
				margin-left: 10px;
				color: #67493e;
				font-size: 13px;
				font-family: 'Flow';
			}
			li:last-child {
				margin-right: -4px;
			}
			li:last-child:after {
				content: '';
			}
		}
	}	
}
#content-block-breadcrumbs.full-w {
	#breadcrumbs-wrapper {
		width: 1600px;
	}
}
#content-block-article {
	padding-top: 20px;
	padding-bottom: 55px;
	background: url('../img/bgcakes2.png') repeat-y top center;

	#article-wrapper {
		width: 1260px;
		margin-left: auto;
		margin-right: auto;

		h1 {
			font-size: 24px;
			text-align: center;
			color: #684c2a;
			font-family: 'RupsterScriptFree';
			margin-bottom: 25px;
		}
		img {
			width: 1260px;
			height: auto;
			border-radius: 5px;
		}
		.content {

			p {
				line-height: 24px;
				color: #4a432e;
				font-size: 14px;
				font-family: 'Flow';
				text-align: left;
			}
		}
	}
}
#content-block-products {
	background: url('../img/bgcakes2.png') repeat-y center top;
	padding: 20px 0 20px 0;

	#products-wrapper {
		width: 1600px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

		h1 {
			font-size: 24px;
			text-align: center;
			color: #684c2a;
			font-family: 'RupsterScriptFree';
			margin-bottom: 25px;
		}

		.product-block {
			position: relative;
			text-align: left;
			width: 280px;
			height: 160px;
			float: left;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 20px;
			border-radius: 5px;

			img {
				width: 280px;
				height: 160px;
			}
			.layout {
				position: absolute;
				top: 0;
				left: 0;
				width: 280px;
				height: 65px;
				background: url('../img/popuplayout.png') no-repeat left top;
			}
			.title {
				color: #695237;
				font-family: 'Flow';
				font-size: 18px;
				margin-left: 5px;
				margin-top: 10px;	
			}
			.info {
				font-family: 'Flow';
				margin-left: 5px;
				font-size: 12px;
				color: #885e5e;
				span {
					color: #a29087;
				}
			}
			.content {
				position: absolute;
				display: none;
				left: 0;
				top: 0;
				width: 280px;
				height: 160px;
				background: rgba(255, 255, 255, 0.9);

				.desc {
					margin-top: 10px;

					.comp {

						color: #695237;
						font-family: 'Flow';
						font-size: 16px;
						margin-left: 5px;
					}
					.c {
						color: #4f483d;
						font-family: 'Flow';
						font-size: 14px;
						margin-left: 5px;
						height: 55px;
						margin-bottom: 5px;
					}
					a {
						color: #2297bd;
						font-size: 14px;
						font-family: 'Flow';
						margin-left: 5px;
					}
					a:hover {
						color: #695237;
					}
				}
			}
		}
	}
}
#pagination {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

	ul {

		li {
			display: inline-block;
			margin-right: 0px;
			vertical-align: top;
		}
		li a {
			color: #684c2a;
			padding: 5px 8px 4px 8px;
			font-size: 18px;
			font-family: 'Flow';
		}
		li a:hover {
			background: #684c2a;
			color: #fff;
			border-radius: 5px;
		}
	}
}
	}
}
footer {
	position: absolute;
	width: 100%;
	min-width: 1260px;
	background: url('../img/bgfooter.png') no-repeat center bottom;
	min-height: 413px;

	#footer-inner {
		margin-top: 30px;
		width: 1260px;
		margin-left: auto;
		margin-right: auto;

		#f-l, #f-r {
			float: left;
			vertical-align: top;
		}
		#f-l:after, #f-r:after {
			content: '';
			display: block;
			clear: both;
		}
		#f-l {
			width: 690px;

			p.nav-title {
				font-size: 18px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 10px;
			}
			.navigation {
				display: inline-block;
				vertical-align: top;
				margin-right: -4px;
				width: 250px;

				ul {

					li {
						margin-bottom: 5px;
					}
					li a {
						font-size: 14px;
						color: #fff;
					}
					li a:hover, li a.current {
						color: #bbb3ae;
					}
				}
			}
			#f-copyr {
				margin-top: 65px;

				.hodlogo {
					display: block;
					width: 95px;
					height: 65px;
					background: url('../img/hodlogo.png') no-repeat;
					float: left;
					margin-right: 15px;
				}
				.copyr {
					font-size: 14px;
					color: #fff;

					p {
						margin-bottom: 8px;
					}
				}
			}
		}
		#f-r {
			width: 570px;

			p.fb-title {
				margin-left: 40px;
				font-size: 18px;
				font-weight: bold;
				color: #fff;
				margin-bottom: 10px;
			}

			#feedback {
				margin-left: 40px;

				textarea, input {
					font-family: 'Flow';
				}

				textarea {
					width: 520px;
					padding-top: 5px;
					padding-left: 5px;
					height: 115px;
					resize: none;
					border: none;
					border-radius: 6px;
					background: #fff;
					color: #473118;
					font-size: 13px;
					margin-bottom: 5px;
					outline: none;
				}
				textarea::-webkit-input-placeholder {
					color: #473118;
				}
				textarea:-moz-placeholder {
					color: #473118;
				}
				input[type=submit] {
					font-size: 13px;
					border: none;
					border-radius: 6px;
					background: #fff;
					color: #473118;
					padding: 5px 15px 5px 15px;
				}
				input[type=submit]:hover {
					cursor: pointer;
				}
			}
			#counters {
				margin-top: 15px;
				margin-left: 40px;
			}
		}
	}
}
